@model Portugal_Insurance___PayPal.Models.GeneratePDFModel
<h1> test Partial View</h1>

  <div>
        <img src="@Model.PDFLogo" alt="" />
    </div>
    <div>
         @Html.Raw(Model.PDFContent)
    </div>