@{
    ViewBag.Title = "Services";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">
<head>

    <!-- Basic -->
    <title>Margo | Services</title>

    <!-- Define Charset -->
    <meta charset="utf-8">

    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Page Description and Author -->
    <meta name="description" content="Margo - Responsive HTML5 Template">
    <meta name="author" content="iThemesLab">
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="~/asset/css/bootstrap.min.css" type="text/css" media="screen">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css" type="text/css" media="screen">

    <!-- Margo CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" media="screen">

    <!-- Responsive CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css" media="screen">

    <!-- Color CSS Styles  -->
    <!--<link rel="stylesheet" type="text/css" href="css/colors/red.css" title="red" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/colors/jade.css" title="jade" media="screen" />-->
    <link rel="stylesheet" type="text/css" href="/Content/css/colors/green.css" title="green" media="screen" />
    <!--<link rel="stylesheet" type="text/css" href="css/colors/blue.css" title="blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/colors/beige.css" title="beige" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/colors/cyan.css" title="cyan" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/colors/orange.css" title="orange" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/colors/peach.css" title="peach" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/colors/pink.css" title="pink" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/colors/purple.css" title="purple" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/colors/sky-blue.css" title="sky-blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/colors/yellow.css" title="yellow" media="screen" />-->
    <!-- Margo JS  -->
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.migrate.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizrr.js"></script>
    <script type="text/javascript" src="~/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Scripts/count-to.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.textillate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.lettering.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>

    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>

    <!-- Container -->
    <div id="container">

        <!-- Start Top Bar -->
        <!-- End Top Bar -->
        <!-- Start Header ( Logo & Naviagtion ) -->
        <!-- End Header ( Logo & Naviagtion ) -->
        <!-- End Header -->
        <!-- Start Page Banner -->
        <div class="page-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Servicios</h2>
                        <p>Pagina de Servicios disponibles en Seguros Portugal</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="breadcrumbs">
                            <li><a href="#">Home</a></li>
                            <li>Servicios</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->
        <!-- Start Content -->
        <div id="content" style="background-color: ghostwhite;">
            <div class="container">
                <div class="row blog-page">


                    <!--Sidebar-->
                    <!-- Search Widget -->
                    <!-- Categories Widget -->
                    <!-- Popular Posts widget -->
                    <!-- Video Widget -->
                    <!--End sidebar-->
                    <!-- Start Blog Posts -->
                    <div class="col-lg-12 blog-box">

                        <!-- Start Car Insurance Post -->
                        <div class="blog-post image-post">
                            <!-- Post Thumb -->
                            <div class="post-head">
                                <a class="lightbox" title="Get Your Quick Quote Now" href="/Content/images/slider/car.jpg">
                                    <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                    <img class="img-responsive" src="/Content/images/slider/car.jpg" alt="slider">
                                </a>
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <!--<div class="post-type"><i class="fa fa-automobile"></i></div>
                                <h2 style="text-align:center"><a href="#">Mexican Car Insurance</a></h2>-->
                                <div class="col-lg-12" data-animation="fadeInDown" data-animation-delay="08">
                                    <div class="plan-featured">
                                        <p class="icon btn3d btn-primary" style="text-align:center;" id="">
                                            <i class="btn3d fa fa-automobile icon-small" style="color: white;" id="">
                                                Mexican Car Insurance
                                            </i>
                                        </p>
                                        <p class="services-plan-featured">
                                            Automobile Policies
                                        </p>
                                        <p class="services-plan-featured">
                                            Type 1:
                                            Liability insurance policy covers you with your drivers license
                                            number, driving any vehicle(ATC and road vehicles) anywhere
                                            in Mexico. The Premium is $180.00 per two drivers and $100.00
                                            for one license.
                                        </p>
                                        <p class="services-plan-featured">
                                            Type 2:
                                            Liability insurance policies, wich covers your Vehicle anywhere
                                            in Mexico. The Premium is $90.00 per year.
                                        </p>
                                        <p class="services-plan-featured">
                                            Type 3:
                                            Liability insurance policy, wich covers your Vehicle and trailr
                                            or tow. The Premium is $150.00 per year.
                                        </p>
                                        <p class="services-plan-featured">
                                            Type 4:
                                            Full coverage insurance anywhere in Mexico, the annual Premium
                                            is according to the cars value.
                                        </p>
                                    </div>

                                    <div class="table-responsive ">
                                        <table id="servicesCarInsurancePriceTable" class="table">
                                            <thead class="cf">
                                                <!--<table id="preciosTable" class="table table-hover table-responsive table-bordered">-->
                                                <tr class="btn-danger">
                                                    <th>Value</th>
                                                    <th>Premuim</th>
                                                    <th>W/ Trailer or Tow</th>
                                                    <th>Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-title="" class="numeric">$1,000-$5,000</td>
                                                    <td data-title="" class="numeric">$175</td>
                                                    <td data-title="" class="numeric">$220</td>
                                                    <td data-title="" class="numeric">5</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$6,000-$10,000</td>
                                                    <td data-title="" class="numeric">$220</td>
                                                    <td data-title="" class="numeric">$265</td>
                                                    <td data-title="" class="numeric">6</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$11,000-$15,000</td>
                                                    <td data-title="" class="numeric">$250</td>
                                                    <td data-title="" class="numeric">$295</td>
                                                    <td data-title="" class="numeric">7</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$16,000-$20,000</td>
                                                    <td data-title="" class="numeric">$275</td>
                                                    <td data-title="" class="numeric">$320</td>
                                                    <td data-title="" class="numeric">8</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$21,000-$25,000</td>
                                                    <td data-title="" class="numeric">$305</td>
                                                    <td data-title="" class="numeric">$650</td>
                                                    <td data-title="" class="numeric">9</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$26,000-$30,000</td>
                                                    <td data-title="" class="numeric">$335</td>
                                                    <td data-title="" class="numeric">$380</td>
                                                    <td data-title="" class="numeric">10</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$31,000-$35,000</td>
                                                    <td data-title="" class="numeric">$355</td>
                                                    <td data-title="" class="numeric">$400</td>
                                                    <td data-title="" class="numeric">11</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$36,000-$40,000</td>
                                                    <td data-title="" class="numeric">$390</td>
                                                    <td data-title="" class="numeric">$435</td>
                                                    <td data-title="" class="numeric">12</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$41,000-$45,000</td>
                                                    <td data-title="" class="numeric">$420</td>
                                                    <td data-title="" class="numeric">$465</td>
                                                    <td data-title="" class="numeric">13</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$46,000-$50,000</td>
                                                    <td data-title="" class="numeric">$440</td>
                                                    <td data-title="" class="numeric">$485</td>
                                                    <td data-title="" class="numeric">14</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$51,000-$55,000</td>
                                                    <td data-title="" class="numeric">$470</td>
                                                    <td data-title="" class="numeric">$515</td>
                                                    <td data-title="" class="numeric">15</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$56,000-$60,000</td>
                                                    <td data-title="" class="numeric">$505</td>
                                                    <td data-title="" class="numeric">$550</td>
                                                    <td data-title="" class="numeric">16</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$61,000-$65,000</td>
                                                    <td data-title="" class="numeric">$535</td>
                                                    <td data-title="" class="numeric">$580</td>
                                                    <td data-title="" class="numeric">17</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$66,000-$70,000</td>
                                                    <td data-title="" class="numeric">$560</td>
                                                    <td data-title="" class="numeric">$605</td>
                                                    <td data-title="" class="numeric">18</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">$71,000-$75,000</td>
                                                    <td data-title="" class="numeric">$590</td>
                                                    <td data-title="" class="numeric">$635</td>
                                                    <td data-title="" class="numeric">19</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="" id="">
                            <!--<h2>Obtain a Quote NOW!!</h2>-->
                            <!-- Trigger the modal with a button -->
                            <div id="">
                                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                <button type="button" class="btn btn-danger btn-lg btn3d" id="servicesObtainQuickQuoteBtn"><span><i class="quickQuoteModalIcon glyphicon glyphicon-modal-window icon-mini-effect icon-effect-1"></i></span>OBTAIN A QUICK QUOTE NOW!!</button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header" style="padding:35px 50px;">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h5><span class="glyphicon glyphicon-road"></span> QUICK QUOTE</h5>
                                        </div>

                                        <!--Aqui insertamos el codigo para el paso 3 de el CarQuery API y agregamos un DropDown
                                        para seleccionarel tipo de poliza que el cliente guste cotizar-->
                                        <div class="modal-body">
                                            <!-- <form role="form">-->
                                            <!-- PayPal Logo -->
                                            <table border="0" cellpadding="10" cellspacing="0" align="center">
                                                <tr>
                                                    <td align="center"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript: window.open
                                            ('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700');return false;">
                                                            <img src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_now_accepting_pp_2line_w.png" border="0" alt="Now Accepting PayPal">
                                                        </a>
                                                        <div style="text-align:center">
                                                            <a href="https://www.paypal.com/webapps/mpp/how-paypal-works">
                                                                <font size="2" face="Arial" color="#0079CD">How PayPal Works</font>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- PayPal Logo -->
                                            @using (Html.BeginForm("Details", "Precios", FormMethod.Get))
                                            {

                                    <!--Aqui inicia el Car Query API DropDowns-->
                                                <div id="carQueryApiDropDowns" class="container">
                                                    <div class="row clearfix">
                                                        <div class="col-md-12 column">
                                                            <div class="form-group">
                                                                <!--<select name="car-years" id="car-years"></select>
                                                                <select name="car-makes" id="car-makes"></select>
                                                                <select name="car-models" id="car-models"></select>-->
                                                                <select name="caryears" id="caryears"></select>
                                                                <select name="carmakes" id="carmakes"></select>
                                                                <select name="carmodels" id="carmodels"></select>
                                                                <!--<select name="car-model-trims" id="car-model-trims"></select>-->
                                                                <!--3a. To populate an element with data on the selected model, call the populateCarData method on the element ID as in the example below.
                                                                This example creates an HTML button which populates the ‘car-model-data’ element when it is clicked.-->
                                                                <!--<input id="cq-show-data" type="button" class="btn btn-primary" value="Show Data" />-->
                                                                <!--<div id="car-model-data"></div>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--atHtml.DropDownList("CoverageTypes", "Select Coverage Type");-->


                            <!--DropDownList(string name, IEnumerable<SelectListItem> selectList, string optionLabel);-->

                        <!--Fin de Paso 3 de CarQuery API-->
                                                <div class="form-group">
                                                    <label for="vinNumber"><span><i class="autoIcon btn3d fa fa-automobile icon-mini-effect icon-effect-1"></i></span></label>
                                                    <input type="text" class="form-control" id="vinNumberTB" name="vinNumberTB" placeholder="Enter Vehicle Identification Number#">
                                                </div>
                                                <div class="form-group">
                                                    <label for="vehicleValue"><span class="vehicleValueIcon btn3d glyphicon glyphicon-usd icon-mini-effect icon-effect-1"></span></label>
                                                    <input type="text" class="form-control" id="vehicleValueTB" name="vehicleValueTB" placeholder="Enter Vehicle Value">
                                                </div>
                                                <div class="form-group">
                                                    <label for="startingDate"><span class="calendarIcon btn3d glyphicon glyphicon-calendar icon-mini-effect icon-effect-1"></span></label>
                                                    <input type="date" placeholder="Enter Policy Starting Date" class="form-control" id="startingDateTB" name="startingDateTB">
                                                </div>
                                                <div class="form-group" id="Coverage_Days">
                                                    @Html.DropDownList("Coverage_Days", new List<SelectListItem>
                                    {
                                        new SelectListItem{ Text = "Select Number of Coverage Days", Value = "0", Selected = true},
                                        new SelectListItem{ Text = "Annual", Value = "0"},
                                        new SelectListItem{ Text = "1 Day", Value = "1"},
                                        new SelectListItem{ Text = "2 Days", Value = "2"},
                                        new SelectListItem{ Text = "3 Days", Value = "3"},
                                        new SelectListItem{ Text = "4 Days", Value = "4"},
                                        new SelectListItem{ Text = "5 Days", Value = "5"},
                                        new SelectListItem{ Text = "6 Days", Value = "6"},
                                        new SelectListItem{ Text = "7 Days", Value = "7"},
                                        new SelectListItem{ Text = "8 Days", Value = "8"},
                                        new SelectListItem{ Text = "9 Days", Value = "9"},
                                        new SelectListItem{ Text = "10 Days", Value = "10"},
                                        new SelectListItem{ Text = "11 Days", Value = "11"},
                                        new SelectListItem{ Text = "12 Days", Value = "12"},
                                        new SelectListItem{ Text = "13 Days", Value = "13"},
                                        new SelectListItem{ Text = "14 Days", Value = "14"},
                                        new SelectListItem{ Text = "15 Days", Value = "15"},
                                    })
                                                </div>
                                                <div>
                                                    <!--ViewBag.Dias = Coverage_Days.SelectedItem.Value-->
                                                </div>
                                                <div class="form-group">
                                                    <label for="endingDate"><span class="calendarIcon btn3d glyphicon glyphicon-calendar icon-mini-effect icon-effect-1"></span></label>
                                                    <input type="date" class="form-control" id="endingDateTB" name="endingDateTB" placeholder="Enter Policy endind date">
                                                </div>
                                                <div class="form-group">
                                                    <label for="usrname"><span class="userNameIcon btn3d glyphicon glyphicon-user icon-mini-effect icon-effect-1"></span></label>
                                                    <input type="text" class="form-control" id="usrNameTB" name="usrNameTB" placeholder="Enter email">
                                                </div>
                                                <!--<div class="form-group">
                                                    <label for="psw"><span class="eye-openPswdIcon glyphicon glyphicon-eye-open icon-mini-effect icon-effect-1"></span></label>
                                                    <input type="text" class="form-control" id="pswTB" name="pswTB" placeholder="Enter password">
                                                </div>-->
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="" checked>Remember me</label>
                                                </div>
                                 <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                                <button type="submit" id="obtainQuoteNowModalBtn" class="btn btn-success btn-lg btn3d"><span class="glyphicon glyphicon-ok"></span> Obtain Quote Now!!</button>

                                <!--<a data-toggle="modal" href="#myModal2" class="btn btn-primary">Launch modal</a>-->

                            <!-- </form>-->
                                            }

                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                            <p>Not a member? <a href="#">Sign Up</a></p>
                                            <p>Forgot <a href="#">Password?</a></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>



                        <script>
                            $(document).ready(function () {
                                $("#servicesObtainQuickQuoteBtn").click(function () {
                                    $("#myModal").modal();
                                });
                            });
                        </script>

                    </div>
                    <!-- End Car Insurance Post -->
                    <!-- Start Condo Insurance Post -->
                    <div class="blog-post image-post">
                        <!-- Post Thumb -->
                        <div class="post-head">
                            <a class="lightbox" title="Please contact us so we can better assist you." href="/Content/images/slider/condo.jpg">
                                <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                <img class="img-responsive" src="/Content/images/slider/condo.jpg" alt="slider">
                            </a>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <!--<div class="post-type"><i class="fa fa-automobile"></i></div>
                            <h2 style="text-align:center"><a href="#">Condo Owners Insurance</a></h2>-->
                            <div class="col-md-12" data-animation="fadeInDown" data-animation-delay="08">
                                <div class="CondoBottom plan featured">
                                    <p class="icon btn3d btn-warning" style="text-align:center;">
                                        <i class=" btn3d fa fa-building icon-small" style="color: white;" id="servicesCondoTblIcon">
                                            Condo Owners Insurance
                                        </i>
                                    </p>
                                    <!--<h2 class="gold-text" style="text-align:center;">Condo Owners Insurance</h2>-->
                                    <p class="bronze-text price"></p>
                                    <p class="services-plan-featured">
                                        Multiple Condo Family Policy
                                    </p>
                                    <p class="services-plan-featured">
                                        Replacement Cost Coverage
                                    </p>

                                    <p class="services-plan-featured">
                                        This Policy covers your condominium from fire, wind damage,
                                        lightning, theft and family liability.

                                    </p>
                                    <p class="services-plan-featured">
                                        The Coverage and Premiums are listed below.
                                    </p>

                                    <div class="table-responsive">
                                        <table id="servicesCondoInsurancePriceTable" class="table">
                                            <thead class="cf">
                                                <!--<table id="preciosTable" class="table table-hover table-responsive table-bordered">-->
                                                <tr class=" btn-danger">
                                                    <th>Type</th>
                                                    <th>1</th>
                                                    <th>2</th>
                                                    <th>3</th>
                                                    <th>4</th>
                                                    <th>5</th>
                                                </tr>
                                                <tr class="">
                                                    <td data-title="" class="numeric">B</td>
                                                    <td data-title="" class="numeric"></td>
                                                    <td data-title="" class="numeric"></td>
                                                    <td data-title="" class="numeric"></td>
                                                    <td data-title="" class="numeric"></td>
                                                    <td data-title="" class="numeric"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-title="" class="numeric">CONTENTS</td>
                                                    <td data-title="" class="numeric">$5,000</td>
                                                    <td data-title="" class="numeric">$8,000</td>
                                                    <td data-title="" class="numeric">$12,000</td>
                                                    <td data-title="" class="numeric">$15,000</td>
                                                    <td data-title="" class="numeric">$18,000</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">BURGLARY</td>
                                                    <td data-title="" class="numeric">$1,500</td>
                                                    <td data-title="" class="numeric">$2,000</td>
                                                    <td data-title="" class="numeric">$2,500</td>
                                                    <td data-title="" class="numeric">$3,000</td>
                                                    <td data-title="" class="numeric">$3,000</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">BROKEN GLASS</td>
                                                    <td data-title="" class="numeric">$1,000</td>
                                                    <td data-title="" class="numeric">$1,000</td>
                                                    <td data-title="" class="numeric">$1,000</td>
                                                    <td data-title="" class="numeric">$1,000</td>
                                                    <td data-title="" class="numeric">$1,000</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">FAMILY LIABILITY</td>
                                                    <td data-title="" class="numeric">$60,000</td>
                                                    <td data-title="" class="numeric">$60,000</td>
                                                    <td data-title="" class="numeric">$60,000</td>
                                                    <td data-title="" class="numeric">$60,000</td>
                                                    <td data-title="" class="numeric">$60,000</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">ANNUAL PREMIUM</td>
                                                    <td data-title="" class="numeric">$68.61</td>
                                                    <td data-title="" class="numeric">$74.88</td>
                                                    <td data-title="" class="numeric">$81.79</td>
                                                    <td data-title="" class="numeric">$88.06</td>
                                                    <td data-title="" class="numeric">$89.93</td>
                                                </tr>

                                                <tr class="">
                                                    <td data-title="" class="numeric">EARTHQUAKE</td>
                                                    <td data-title="" class="numeric">optional</td>
                                                    <td data-title="" class="numeric">optional</td>
                                                    <td data-title="" class="numeric">optional</td>
                                                    <td data-title="" class="numeric">optional</td>
                                                    <td data-title="" class="numeric">optional</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="table-responsive">
                                        <table id="servicesCondoInsurancePriceTable" class="table">
                                            <thead class="cf">
                                                <!--<table id="preciosTable" class="table table-hover table-responsive table-bordered">-->
                                                <tr class=" btn-danger">
                                                    <th>Type</th>
                                                    <th>1</th>
                                                    <th>2</th>
                                                    <th>3</th>
                                                    <th>4</th>
                                                    <th>5</th>
                                                </tr>
                                                <tr class="">
                                                    <td data-title="" class="numeric">B</td>
                                                    <td data-title="" class="numeric"></td>
                                                    <td data-title="" class="numeric"></td>
                                                    <td data-title="" class="numeric"></td>
                                                    <td data-title="" class="numeric"></td>
                                                    <td data-title="" class="numeric"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-title="" class="numeric">CONTENTS</td>
                                                    <td data-title="" class="numeric">$20,000</td>
                                                    <td data-title="" class="numeric">$30,000</td>
                                                    <td data-title="" class="numeric">$40,000</td>
                                                    <td data-title="" class="numeric">$50,000</td>
                                                    <td data-title="" class="numeric">$60,000</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">BURGLARY</td>
                                                    <td data-title="" class="numeric">$4,000</td>
                                                    <td data-title="" class="numeric">$5,000</td>
                                                    <td data-title="" class="numeric">$5,000</td>
                                                    <td data-title="" class="numeric">$5,000</td>
                                                    <td data-title="" class="numeric">$8,000</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">BROKEN GLASS</td>
                                                    <td data-title="" class="numeric">$1,000</td>
                                                    <td data-title="" class="numeric">$1,000</td>
                                                    <td data-title="" class="numeric">$1,000</td>
                                                    <td data-title="" class="numeric">$1,000</td>
                                                    <td data-title="" class="numeric">$2,000</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">FAMILY LIABILITY</td>
                                                    <td data-title="" class="numeric">$60,000</td>
                                                    <td data-title="" class="numeric">$60,000</td>
                                                    <td data-title="" class="numeric">$60,000</td>
                                                    <td data-title="" class="numeric">$60,000</td>
                                                    <td data-title="" class="numeric">$60,000</td>
                                                </tr>
                                                <tr>
                                                    <td data-title="" class="numeric">ANNUAL PREMIUM</td>
                                                    <td data-title="" class="numeric">$99.98</td>
                                                    <td data-title="" class="numeric">$115.03</td>
                                                    <td data-title="" class="numeric">$121.28</td>
                                                    <td data-title="" class="numeric">$127.52</td>
                                                    <td data-title="" class="numeric">$168.64</td>
                                                </tr>

                                                <tr class="">
                                                    <td data-title="" class="numeric">EARTHQUAKE</td>
                                                    <td data-title="" class="numeric">optional</td>
                                                    <td data-title="" class="numeric">optional</td>
                                                    <td data-title="" class="numeric">optional</td>
                                                    <td data-title="" class="numeric">optional</td>
                                                    <td data-title="" class="numeric">optional</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <!--End Condo Insurance Post-->
                                    <!-- Start Home Insurance Post -->
                                    <div class="blog-post image-post">
                                        <!-- Post Thumb -->
                                        <div class="post-head">
                                            <a class="lightbox" title="Please contact us so we can better assist you." href="/Content/images/slider/home.jpg">
                                                <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                                <img class="img-responsive" src="/Content/images/slider/home.jpg" alt="slider">
                                            </a>
                                        </div>
                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <!--<div class="post-type"><i class="fa fa-automobile"></i></div>
                                            <h2 style="text-align:center"><a href="#">Home Owners Insurance</a></h2>-->
                                            <div class="col-md-12" data-animation="fadeInDown" data-animation-delay="08">
                                                <div class="HomeBottom plan featured">
                                                    <p class="icon btn3d btn-success" style="text-align:center;">
                                                        <i class=" btn3d fa fa-home icon-small" style="color: white;" id="homeTblIcon">
                                                            Home Owners Insurance
                                                        </i>
                                                    </p>
                                                    <!--<h2 class="bronze-text">Home Owners Insurance</h2>-->
                                                    <p class="bronze-text price"></p>
                                                    <p class="services-plan-featured">
                                                        Multiple Family Policy
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        Replacement Cost Coverage
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        This policy covers your house, garage and their contents
                                                        against the following risk: fire damage, lighting, theft,
                                                        broken glass, and family liability.
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        The Coverage and Premiums are listed below.
                                                    </p>
                                                </div>

                                                <div class="table-responsive">
                                                    <table id="servicesHomeOwnersPriceTable" class="table">
                                                        <thead class="cf">
                                                            <!--<table id="preciosTable" class="table table-hover table-responsive table-bordered">-->
                                                            <tr class=" btn-danger">
                                                                <th>Type</th>
                                                                <th>1</th>
                                                                <th>2</th>
                                                                <th>3</th>
                                                                <th>4</th>
                                                                <th>5</th>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">BUILDING</td>
                                                                <td data-title="" class="numeric">$25,000</td>
                                                                <td data-title="" class="numeric">$30,000</td>
                                                                <td data-title="" class="numeric">$40,000</td>
                                                                <td data-title="" class="numeric">$60,000</td>
                                                                <td data-title="" class="numeric">$80,000</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">CONTENTS</td>
                                                                <td data-title="" class="numeric">$5,000</td>
                                                                <td data-title="" class="numeric">$8,000</td>
                                                                <td data-title="" class="numeric">$10,000</td>
                                                                <td data-title="" class="numeric">$25,000</td>
                                                                <td data-title="" class="numeric">$35,000</td>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">BURGLARY</td>
                                                                <td data-title="" class="numeric">$1,000</td>
                                                                <td data-title="" class="numeric">$2,000</td>
                                                                <td data-title="" class="numeric">$3,000</td>
                                                                <td data-title="" class="numeric">$5,000</td>
                                                                <td data-title="" class="numeric">$7,000</td>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">BROKEN GLASS</td>
                                                                <td data-title="" class="numeric">$1,000</td>
                                                                <td data-title="" class="numeric">$1,000</td>
                                                                <td data-title="" class="numeric">$1,000</td>
                                                                <td data-title="" class="numeric">$1,000</td>
                                                                <td data-title="" class="numeric">$1,000</td>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">FAMILY LIABILITY</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">ANNUAL PREMIUM</td>
                                                                <td data-title="" class="numeric">$69.00</td>
                                                                <td data-title="" class="numeric">$83.00</td>
                                                                <td data-title="" class="numeric">$100.00</td>
                                                                <td data-title="" class="numeric">$140.00</td>
                                                                <td data-title="" class="numeric">$177.00</td>
                                                            </tr>

                                                            <tr class="">
                                                                <td data-title="" class="numeric">EARTHQUAKE</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>


                                                <div class="table-responsive">
                                                    <table id="servicesHomeOwnersPriceTable" class="table">
                                                        <!--<table id="preciosTable" class="table table-hover table-responsive table-bordered">-->
                                                        <thead class="cf">
                                                            <tr class=" btn-danger">
                                                                <th>Type</th>
                                                                <th>6</th>
                                                                <th>7</th>
                                                                <th>8</th>
                                                                <th>9</th>
                                                                <th>10</th>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">BUILDING</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$125,000</td>
                                                                <td data-title="" class="numeric">$150,000</td>
                                                                <td data-title="" class="numeric">$175,000</td>
                                                                <td data-title="" class="numeric">$200,000</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">CONTENTS</td>
                                                                <td data-title="" class="numeric">$40,000</td>
                                                                <td data-title="" class="numeric">$45,000</td>
                                                                <td data-title="" class="numeric">$45,000</td>
                                                                <td data-title="" class="numeric">$45,000</td>
                                                                <td data-title="" class="numeric">$50,000</td>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">BURGLARY</td>
                                                                <td data-title="" class="numeric">$8,000</td>
                                                                <td data-title="" class="numeric">$8,000</td>
                                                                <td data-title="" class="numeric">$10,000</td>
                                                                <td data-title="" class="numeric">$10,000</td>
                                                                <td data-title="" class="numeric">$12,000</td>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">BROKEN GLASS</td>
                                                                <td data-title="" class="numeric">$2,000</td>
                                                                <td data-title="" class="numeric">$2,000</td>
                                                                <td data-title="" class="numeric">$2,000</td>
                                                                <td data-title="" class="numeric">$2,000</td>
                                                                <td data-title="" class="numeric">$3,000</td>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">FAMILY LIABILITY</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">ANNUAL PREMIUM</td>
                                                                <td data-title="" class="numeric">$211.00</td>
                                                                <td data-title="" class="numeric">$231.00</td>
                                                                <td data-title="" class="numeric">$265.00</td>
                                                                <td data-title="" class="numeric">$281.00</td>
                                                                <td data-title="" class="numeric">$339.41</td>
                                                            </tr>

                                                            <tr class="">
                                                                <td data-title="" class="numeric">EARTHQUAKE</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="table-responsive">
                                                    <table id="servicesHomeOwnersPriceTable" class="table">
                                                        <!--<table id="preciosTable" class="table table-hover table-responsive table-bordered">-->
                                                        <thead class="cf">
                                                            <tr class=" btn-danger">
                                                                <th>Type</th>
                                                                <th>11</th>
                                                                <th>12</th>
                                                                <th>13</th>
                                                                <th>14</th>
                                                                <th>15</th>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">BUILDING</td>
                                                                <td data-title="" class="numeric">$250,000</td>
                                                                <td data-title="" class="numeric">$300,000</td>
                                                                <td data-title="" class="numeric">$400,000</td>
                                                                <td data-title="" class="numeric">$500,000</td>
                                                                <td data-title="" class="numeric">$600,000</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">CONTENTS</td>
                                                                <td data-title="" class="numeric">$55,000</td>
                                                                <td data-title="" class="numeric">$60,000</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$150,000</td>
                                                                <td data-title="" class="numeric">$200,000</td>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">BURGLARY</td>
                                                                <td data-title="" class="numeric">$12,000</td>
                                                                <td data-title="" class="numeric">$15,000</td>
                                                                <td data-title="" class="numeric">$25,000</td>
                                                                <td data-title="" class="numeric">$30,000</td>
                                                                <td data-title="" class="numeric">$30,000</td>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">BROKEN GLASS</td>
                                                                <td data-title="" class="numeric">$3,000</td>
                                                                <td data-title="" class="numeric">$3,000</td>
                                                                <td data-title="" class="numeric">$3,000</td>
                                                                <td data-title="" class="numeric">$5,000</td>
                                                                <td data-title="" class="numeric">$5,000</td>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">FAMILY LIABILITY</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                                <td data-title="" class="numeric">$100,000</td>
                                                            </tr>
                                                            <tr class="">
                                                                <td data-title="" class="numeric">ANNUAL PREMIUM</td>
                                                                <td data-title="" class="numeric">$326.77</td>
                                                                <td data-title="" class="numeric">$432.00</td>
                                                                <td data-title="" class="numeric">$611.00</td>
                                                                <td data-title="" class="numeric">$761.00</td>
                                                                <td data-title="" class="numeric">$814.30</td>
                                                            </tr>

                                                            <tr class="">
                                                                <td data-title="" class="numeric">EARTHQUAKE</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                                <td data-title="" class="numeric">optional</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--<a class="btn btn-pricing" href="#" target="_blank">Order Now</a>-->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Boat Insurance Post -->
                                    <!-- Start Boat Insurance Post -->
                                    <div class="blog-post image-post">
                                        <!-- Post Thumb -->
                                        <div class="post-head">
                                            <a class="lightbox" title="Please contact us so we can better assist you." href="/Content/images/slider/boat.jpg">
                                                <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                                <img class="img-responsive" src="/Content/images/slider/boat.jpg" alt="slider">
                                            </a>
                                        </div>
                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <!--<div class="post-type"><i class="fa fa-ship"></i></div>
                                            <h2 style="text-align:center"><a href="#">Boat Insurance</a></h2>-->
                                            <div class="col-md-12" data-animation="fadeInDown" data-animation-delay="08">
                                                <div class="plan featured">
                                                    <p class="icon btn3d btn-info" style="text-align:center;" id="">
                                                        <i class="btn3d fa fa-ship icon-small" style="color: white;" id="">
                                                            Boat Insurance
                                                        </i>

                                                    <p class="price"></p>
                                                    <p class="services-plan-featured">
                                                        Boat Insurance Policies
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        Type 1:
                                                        Liability insurance policy covers you with your drivers license
                                                        number, driving any vehicle(ATC and road vehicles) anywhere
                                                        in Mexico. The Premium is $180.00 per two drivers and $100.00
                                                        for one license.
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        Type 2:
                                                        Liability insurance policies, wich covers your Vehicle anywhere
                                                        in Mexico. The Premium is $90.00 per year.
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        Type 3:
                                                        Liability insurance policy, wich covers your Vehicle and trailr
                                                        or tow. The Premium is $150.00 per year.
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        Type 4:
                                                        Full coverage insurance anywhere in Mexico, the annual Premium
                                                        is according to the cars value.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- End Boat Insurance Post -->
                                    <!-- Start Business Insurance Post -->
                                    <div class="blog-post image-post">
                                        <!-- Post Thumb -->
                                        <div class="post-head">
                                            <a class="lightbox" title="Please contact us so we can better assist you." href="/Content/images/slider/business1.jpg">
                                                <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                                <img class="img-responsive" src="/Content/images/slider/business1.jpg" alt="slider">
                                            </a>
                                        </div>
                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <!--<div class="post-type"><i class="fa fa-truck"></i></div>
                                            <h2 style="text-align:center"><a href="#">Business Insurance</a></h2>-->
                                            <div class="col-md-12" data-animation="fadeInDown" data-animation-delay="08">
                                                <div class="plan featured">
                                                    <p class="icon btn3d btn-danger" style="text-align:center;" id="">
                                                        <i class="btn3d fa fa-truck icon-small" style="color: white;" id="">
                                                            Business Insurance
                                                        </i>

                                                    <p class="price"></p>
                                                    <p class="services-plan-featured">
                                                        Business Insurance Policies
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        Type 1:
                                                        Liability insurance policy covers you with your drivers license
                                                        number, driving any vehicle(ATC and road vehicles) anywhere
                                                        in Mexico. The Premium is $180.00 per two drivers and $100.00
                                                        for one license.
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        Type 2:
                                                        Liability insurance policies, wich covers your Vehicle anywhere
                                                        in Mexico. The Premium is $90.00 per year.
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        Type 3:
                                                        Liability insurance policy, wich covers your Vehicle and trailr
                                                        or tow. The Premium is $150.00 per year.
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        Type 4:
                                                        Full coverage insurance anywhere in Mexico, the annual Premium
                                                        is according to the cars value.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Business Insurance Post -->
                                    <!-- Start Health/Life Insurance Post -->

                                    <div class="blog-post image-post">
                                        <!-- Post Thumb -->
                                        <div class="post-head">
                                            <a class="lightbox" title="Please contact us so we can better assist you." href="/Content/images/slider/business1.jpg">
                                                <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                                <img class="img-responsive" src="/Content/images/slider/business1.jpg" alt="slider">
                                            </a>
                                        </div>
                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <!--<div class="post-type"><i class="fa fa-truck"></i></div>
                                            <h2 style="text-align:center"><a href="#">Business Insurance</a></h2>-->
                                            <div class="col-md-12" data-animation="fadeInDown" data-animation-delay="08">
                                                <div class="plan featured">
                                                    <p class="icon btn3d btn-primary" style="text-align:center;" id="">
                                                        <i class="btn3d fa fa-heartbeat icon-small" style="color: white;" id="">
                                                            Health/Life Insurance
                                                        </i>

                                                    <p class="price"></p>
                                                    <p class="services-plan-featured">
                                                        Health / Life Insurance Policies
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        Type 1:
                                                        Liability insurance policy covers you with your drivers license
                                                        number, driving any vehicle(ATC and road vehicles) anywhere
                                                        in Mexico. The Premium is $180.00 per two drivers and $100.00
                                                        for one license.
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        Type 2:
                                                        Liability insurance policies, wich covers your Vehicle anywhere
                                                        in Mexico. The Premium is $90.00 per year.
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        Type 3:
                                                        Liability insurance policy, wich covers your Vehicle and trailr
                                                        or tow. The Premium is $150.00 per year.
                                                    </p>
                                                    <p class="services-plan-featured">
                                                        Type 4:
                                                        Full coverage insurance anywhere in Mexico, the annual Premium
                                                        is according to the cars value.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<a class="main-button" href="#">Read More <i class="fa fa-angle-right"></i></a>-->
                                    <!-- Start Health/Life Insurance Post -->
                                </div>

                                <!-- End Blog Posts -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </div>
        </div>
        <!-- End Container -->
    </div>
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <div id="loader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>


</body>
</html>