<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=301880
	-->
<configuration>
	<!--FROM HERE WE ARE ADDING THE PAYPAL and log4net API CONFIGURATION NECCESSARY FOR PAYPAL TO WORK CORRECTLY-->
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	
	<connectionStrings>
		<!--LOCAL-->
		<!--<add name="Portugal Insurance - PayPal" connectionString="Server=MONEYMAKER\SQLEXPRESS;Database=Portugal Insurance - PayPal;Trusted_Connection=true" providerName="System.Data.SqlClient"/>-->
		
		<!--SMARTER ASP DATABASE-->
		<add name="PortugalDB" connectionString="Data Source=SQL5027.Smarterasp.net;Initial Catalog=DB_9F55DE_segurosportugal;User Id=DB_9F55DE_segurosportugal_admin;Password=6UukP5VV5yRK8frV;" providerName="System.Data.SqlClient" />
		<!--<add name="PortugalDB" connectionString="Data Source=SQL5011.myWindowsHosting.com;Initial Catalog=DB_9E4D97_spsonora;User Id=DB_9E4D97_spsonora_admin;Password=spppsonora1234;"
			providerName="System.Data.SqlClient" />-->
	</connectionStrings>
		<!--PayPal SDK settings-->
		<paypal>
			<settings>
				<add name="mode" value="sandbox" />
				<add name="connectionTimeOut" value="360000" />
				<add name="requestRetries" value="1" />
				
				<!-- FROM Portugal Insurance - PayPal App-->
				<add name="clientId" value="AeM8WH4P2JaMdw7fUj-aF8RxwX4AaySrMRlNKnvy88PxrBg2wQaYu8DhrAmWZx0FPKTkEtiJ4HNp_toT" />
				<add name="clientSecret" value="EJOis-oC0toJU2KDBY5Oysk8rumo3FYfgbYCSYGzuxoC64jIJ2MIDXgmCJdRjO1JqfYWcX32odi1OuwJ" />
			</settings>
		</paypal>
		
		
		<!--Log4Net settings-->
		<log4net>
			<appender name="FileAppender" type="log4net.Appender.FileAppender">
				<file value="my_app.log" />
				<appendToFile value="true" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline" />
				</layout>
			</appender>
			<root>
				<level value="DEBUG" />
				<appender-ref ref="FileAppender" />
				<appender-ref ref="aiAppender" />
			</root>
			<appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message%newline" />
				</layout>
			</appender>
		</log4net>
	
		<appSettings>
			<add key="PayPalLogger" value="PayPal.Log.Log4netLogger" />
			<add key="webpages:Version" value="3.0.0.0" />
			<add key="webpages:Enabled" value="false" />
			<add key="PreserveLoginUrl" value="true" />
			<add key="ClientValidationEnabled" value="true" />
			<add key="UnobtrusiveJavaScriptEnabled" value="true" />

<!--WORKING clientID BEFORE ACTIVATING PAYPAL PDT (Payment Data Transfer) to receive transaction details.
      <add key="PDTToken" value="AFcWxV21C7fd0v3bYYYRCpSSRl31AWbOiEdzlByqKRshenEFdEWMyIiw"/>-->

      <!--clientId after activating PAYPAL PDT-->
      <add key="PDTToken" value="qa1PJkDH3sB8svx9W423qM5RcQqDaTsEy1xC4j2qMYoEbWpoOySo_SH4Gv8" />
			<add key="PayPalUsername" value="rodriquez602-facilitator@gmail.com" />
			<add key="returnurl" value="http://orquidea-001-site3.dtempurl.com/PayPal/SuccessView" />
   
      <!--<add key="returnurl" value="htpp://localhost:1686/PayPal/SuccessView"/>-->
      
      <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />	
		</appSettings>
	
	<system.web>
			<trust level="Full" />
		<authentication mode="None" />
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>
 
	<!--TO HERE WE ARE DONE ADDING THE PAYPAL and log4net API CONFIGURATION NECCESSARY FOR PAYPAL TO WORK CORRECTLY IN THIS Web.config FILE-->
	
	
	
	
	<system.webServer>
		<httpErrors errorMode="Detailed" />
		<asp scriptErrorSentToBrowser="true" />
		<modules>
			<remove name="FormsAuthenticationModule" />
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>				
				<!--FROM HERE WE ADD THIS BECAUSE WE FOUND IT IN THE EXAMPLE-->
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />

				<!--TO HERE WE ADD THIS BECAUSE WE FOUND IT IN THE EXAMPLE-->

			</dependentAssembly> 
			
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
